process {
    executor       = "local"
    publishDir     = [
        path: { "output/" + task.process.replace(":", "/") },
        mode: "copy",
        enabled: true
    ]
}

docker {
    enabled = true
    runOptions = "-v \${HOST_WORKDIR}/1_QC_GWAS:/workspace/1_QC_GWAS " +
                 "-v \${HOST_WORKDIR}/2_Population_stratification:/workspace/2_Population_stratification " +
                 "-v \${HOST_WORKDIR}/3_Association_GWAS:/workspace/3_Association_GWAS"
}